body{
    background-image: url("../assets/gifs-animados-star-wars-4833872.gif");    
    background-size: cover;
    
}
a{
    color: #D9D900;
    background-color: #37474f;
}
a:hover{
    color: #D9D900;
    background-color: grey;
}
.contenedor {
    text-align: center;
    height: 80px;
    background-color: black;
}

.centrar {
    text-align: center;
    display: inline-block;
}

.izquierda {
    float: left;
    width: 45px;
}

.parrafo {
    margin: 15px;
    color: #A7982C;
    font-size: 2.05em;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link{
    background-color: red !important;
}

.container{
    margin-top:15px;/*APorte*/
    width: 600px!important;
    height: 650px!important;
    background-color: black;
    
}
.portada{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* CSS planetas */
.container-planet{
    margin: 30px 100px 30px 100px;
    width: 80%;
    height: 100%;
    background-color: black;
    color: yellow;
    
}
.img-table{
    width: 350px;
}
th{
    background-color: red;
    color:white;
}
td{
    background-color:#e3f2fd !important;
    font-weight: 800;
    opacity: 0.8!important;
}
#films{
     overflow: auto;
     height:400px!important;
     width:1500px!important;
     padding:0px;
}

